# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# SUPABASE_URL: Your Supabase project URL
VITE_SUPABASE_URL=https://ogvxprnvvztjtnhxmgxk.supabase.co

# SUPABASE_ANON_KEY: Your Supabase anonymous API key
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ndnhwcm52dnp0anRuaHhtZ3hrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNTE5ODIsImV4cCI6MjA5MjYyNzk4Mn0.TIDK829jVfiPD-92tu5jcUvLWQd4QBoE3ntEw_iUOuU
